p
{
    background-color:transparent;
    color: white;
    font-style:normal;
    font-size: large;
    text-align: center;
}

p.alt
{
    background-color:transparent;
    color:turquoise;
    font-style:normal;
    font-size:medium;
    text-align: center;
}

p.alt:hover
{
    background-color:transparent;
    color:rgb(64, 224, 131);
    font-style:normal;
    font-size:medium;
    text-align: center;
}

p:hover
{
    background-color:transparent;
    color:blue;
    font-style: italic;
    font-size:larger;
    position: inherit;
}

body
{
    background-image: url(assets/corn.gif); background-size: 12%;
    background-color: rgb(170, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    position: center;
    background-position-y: 2%;
}

h1
{
    color: yellow;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: center;


}

section
{
    columns: 2;
    justify-content: center;
    padding-top: 1cm;
    margin:12em;
}

iframe
{
    position:absolute;
    margin-left:  39%;
}
